.separator-bar-main {
  .separator-bar {
    height: 30px;
    border-bottom: 2px solid white;
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
    width: 98%;
    margin: auto;
    font-weight: bold;
  }
}
